@model string
@*<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">
        <b>Record: </b>
        <i class="text-muted">Aviso</i>
    </h4>
</div>*@


<div class="modal-body">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>


    <div class="text-center">
        <h3>
            @Html.Raw(Model)
        </h3>
    </div>
    

</div>