@model PagedList.IPagedList<Guid>
@using PagedList.Mvc;
@using RecordFCS_Alt.Helpers

@{
    string tipo  = ViewBag.tipo;
}
<link href="~/Content/piezaMini.css" rel="stylesheet" />
<ul class="media-list">

    @foreach (var piezaID in Model)
    {
        Html.RenderAction("FichaMini", "Movimiento", new { id = piezaID, tipo = "guion", listaNombre = "x" });

        @*<li class="media">
            <div class="media-body">
                @piezaID.ToString()
            </div>
        </li>*@
    }
</ul>



<div id="contentPager" class="text-center center-block">
    @Html.PagedListPager(Model, pagina => Url.Action("BuscarPiezas", new { pagina = pagina, tipo = tipo }), new PagedListRenderOptions { LinkToFirstPageFormat = "<< Inicio", LinkToPreviousPageFormat = "< Anterior", LinkToNextPageFormat = "Siguiente >", LinkToLastPageFormat = "Final >>", UlElementClasses = new[] { "pagination", "pagination-sm" } })
    <p>Total de piezas encontradas: @Model.TotalItemCount</p>
</div>


<script src="~/Scripts/add.toolTip.js"></script>




<script type="text/javascript">

    //Paginador cargar vista parcial en el div

    $("#contentPager a").on("click", function (e) {

        if ($(this).attr("href")) {

            var inputLetraFolioID = $('#LetraFolioID');
            var inputGuionID = $('#GuionID');
            var inputClaves = $('#claves');

            $('#renderResultadosBusqueda').html('' +
                '<div class="text-center">' +
                    '<p>' +
                        '<span class="text-muted">' +
                            'Por favor espere' +
                        '</span>' +
                    '</p>' +
                    '<i class="fa fa-spinner fa-pulse fa-12x text-muted"></i>' +
                    '<p>' +
                        'Se estan procedando los resultados...' +
                    '</p>' +
                '</div>');

            //var liga = $(this).attr("href").split('?');
            //var pag = liga[1].split('=');

            //$('#pag').val(pag[1]);



            $.ajax({
                url: this.href,
                type: 'GET',
                data: {
                    LetraFolioID: inputLetraFolioID.val(),
                    GuionID: inputGuionID.val(),
                    claves: inputClaves.val()
                },
                success: function (result) {
                    $('#renderResultadosBusqueda').html(result); //  Campo que actualizara
                }
            });



           
        }

        return false;
    });






</script>