@{
    ViewBag.Title = "ERROR - 500";
}

<div class="text-center">
    <h1 class="text-muted h1Gigante">
        500
    </h1>

    <div class="text-muted">
        <i>
            
        </i>
    </div>

    <br />

    <small>
        
    </small>

    <hr />

    <div>
        <a href="~/" class="link link-info">
            <i class="fa "></i> Inicio
        </a>
    </div>
</div>