@{
    ViewBag.Title = "ERROR - 404";
}

<div class="text-center">
    <h1 class="text-muted h1Gigante">
        404
    </h1>

    <div class="text-muted">
        <i>
            Lo sentimos , ha ocurrido un error , la página solicitada no se encontro!
        </i>
    </div>

    <br />

    <small>
        Contacte al administrador si el error persiste.
    </small>

    <hr />

    <div>
        <a href="~/" class="link link-info">
            <i class="fa fa-home fa-align-vertical"></i> Inicio
        </a>
    </div>
</div>


