
/*img { -ms-interpolation-mode: bicubic; }*/

.day.disabled,
.month.disabled,
.year.disabled,
.decade.disabled {
    color: #e6e6e6 !important;
}

#zoomModalDiv{
   height:28em;
}

body {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Presidencia" !important;
    /*font-size: 1.8em !important;*/
}

  .col-lg-offset-05 {
    
    margin-left: 4.16666666%;

    
  }

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top: 2.5em;
    left: auto;
    background-color: #ffffff;
    width: auto;
}

.imagenMini {
    min-width: 200px !important;
    max-width: 200px !important;
}
.imagenExtraMini {
    min-width: 100px !important;
    max-width: 100px !important;
}

@font-face {
    font-family: 'Presidencial';
    src: url('../Content/fonts/presidenciafirme-webfont.eot');
    src: url('../Content/fonts/presidenciafirme-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../Content/fonts/presidenciafirme-webfont.woff?v=4.2.0') format('woff'), url('../Content/fonts/presidenciafirme-webfont.ttf?v=4.2.0') format('truetype'), url('../Content/fonts/presidenciafirme-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
}

@font-face {
    font-family: 'Presidencia';
    src: url('../Content/fonts/presidenciafina-webfont.eot');
    src: url('../Content/fonts/presidenciafina-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../Content/fonts/presidenciafina-webfont.woff?v=4.2.0') format('woff'), url('../Content/fonts/presidenciafina-webfont.ttf?v=4.2.0') format('truetype');
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 320px;
    min-width: 320px;
}

input[type='submit'] {
    max-width: 320px;
    min-width: 120px !important;

}*/



/* -------------------------------------------------------------------- */

.container.body-content {
    padding-bottom: 1em;
}

.badge-danger {
    background-color: #f04124;
}

.badge-warning {
    background-color: #d58512;
}

.badge-success {
    background-color: #bca57c;
}

.badge-info {
    background-color: #008cba;
}

.badge-inverse {
    background-color: #333333;
}

.badge-default {
    background-color: #808080;
}

.badge-muted {
    background-color: #e6e5e5;
}

/* TEXTO STATUS*/
.text-True {
    color: #bca57c !important;
}

.text-False {
    color: #808080 !important;
}

.text-White {
    color: #ffffff !important;
}

.text-black {
    color: #000000 !important;
}

a > .text-black:hover {
    color: #978361 !important;
}

.text-gray {
    color: #e6e6e6 !important;
}

a > .text-gray:hover {
    color: #978361 !important;
}



.fondo-False {
    background-color: #808080 !important;
}

/* BARRAS SUPERIORES */

.barraSuperior {
    height: 0.5em;
    margin-top: -1.3em;
    margin-bottom: 1em;
    margin-left: -1.3em;
    margin-right: -1.3em;
}

.barra-primary {
    background-color: #f5f7f5 !important;
}

.barraEstado-True {
    background-color: #bca57c !important;
}

.barraEstado-False {
    background-color: #808080 !important;
}

.barraEstado-success {
    background-color: #bca57c !important;
}

.barraEstado-default {
    background-color: #e7e7e7 !important;
}

.barraEstado-black {
    background-color: #333333 !important;
}



/* LABELS */

.labelTipoObra {
    margin-top: -2em;
    margin-right: -1.74em;
}



/* ALERTAS */
.alert-inverse {
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

    .alert-inverse hr {
        border-top-color: #000000;
    }

    .alert-inverse .alert-link {
        color: #e6e6e6;
    }

.alert-default {
    background-color: #808080;
    border-color: #808080;
    color: #ffffff;
}

    .alert-default hr {
        border-top-color: #676666;
    }

    .alert-default .alert-link {
        color: #e6e6e6;
    }

.notificacion {
    position: fixed;
    right: 0;
    top: 4em;
    left: 60%;
    padding-right: 1em;
    z-index: 100;
}

#loadingAjax {
    position: fixed;
    top: 50%;
    z-index: 200;
    left: 50%;
    background-color: rgba(180, 180, 180, 0.43);
    padding: 1em;
    border-radius: 1em;
}

/* LINKS*/

.link {
    color: #aeaeae !important;
    cursor: pointer;
}

    .link.link-danger:hover {
        color: #bca57c !important;
    }

    .link.link-warning:hover {
        color: #bca57c !important;
    }

    .link.link-success:hover {
        color: #bca57c !important;
    }

    .link.link-info:hover {
        color: #bca57c !important;
    }

    .link.link-inverse:hover {
        color: #bca57c !important;
    }

.link-top {
    z-index: 100;
    position: relative;
}



.navbar-image {
    float: left;
    padding: 10px 5px;
}

.piezabody {
    background-color: #eeeeee;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}

/*.carouselbody {
    width: 100%;
    max-height: 200px;
}


a.carouselbody {
    width: 100%;
    max-height: 200px;
}*/


table {
    table-layout: fixed;
    word-wrap: break-word;
}





.table-anidada {
    margin-bottom: 0;
}

.mini-thumb {
    max-width: 200px;
}

.img-mini {
    max-width: 50px;
    max-height: 50px;
}


.carousel .img-thumbnail {
    max-width: 300px;
    margin: 0 auto;
}

.carousel-indicators {
    bottom:4.5em;
}

.thumbnail .img-thumbnail {
    margin-bottom: 0;
}

/*img.img-max-width
{
    min-width: 300px !important;
}*/
.carousel-control {
    color: #428BCA;
    top: 44%;
    bottom: auto;
    opacity: 1;
}

    .carousel-control:hover {
        color: #d9534f;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none !important;

    }

    .carousel-control.right {
        left: auto;
        right: -1.2em;
        top: auto;
        bottom:0.5em;

    }

    .carousel-control.left {
        right: auto;
        left: -1.2em;
        top: auto;
        bottom:0.5em;
    }


.form-control.medidaTam {
    max-width: 109px;
    color: #000
}

/* FONTS*/
.fa-08x {
    font-size: 0.8em !important;
}

.fa-6x {
    font-size: 6em !important;
}

.fa-7x {
    font-size: 7em !important;
}

.fa-8x {
    font-size: 8em !important;
}

.fa-9x {
    font-size: 9em !important;
}

.fa-10x {
    font-size: 10em !important;
}

.fa-11x {
    font-size: 11em !important;
}

.fa-12x {
    font-size: 12em !important;
}

.fa-align-vertical {
    vertical-align: middle;
}




/* TEXTO */
.textoFiltro {
    background-color: #eeeeee !important;
}


.NoMargin {
    margin: 0 !important;
}

.noPadding {
    padding: 0 !important;
}


.form-center {
    margin: 0 auto !important;
}

#formSesionIn {
    width: 70%;
    margin: 0 auto;
}

/* CARRUSEL HOME*/





.imgSaludo {
    max-height: 2.4em;
    margin-top: -10px;
}


#saludoContent {
    position: absolute;
    z-index: 80;
    right: 0;
    left: 0;
}

.saludo {
    background-color: rgba(0, 0, 0, 0.40);
    padding: 0.4em;
    text-align: center;
    max-width: 30em;
    margin: 1em auto;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
}

.myh1 {
    color: white !important;
    text-shadow: 1px 1px 2px #000000;
    margin-bottom: 0;
    margin-top: 0;
}

.minusculaM {
    font-size: 0.6em;
}

.mayusculaM {
    font-size: 1em;
}


.h1Gigante {
    font-size: 8em;
}


.logoFundacion {
    position: absolute;
    z-index: auto;
    background: #e6e6e6;
    border-top-right-radius: 10em;
    border-bottom-right-radius: 10em;
    border-top-left-radius: 10em;
    border-bottom-left-radius: 10em;
    top: auto;
    bottom: auto;
    left: 20px;
    opacity: 0.6;
}




    .logoFundacion img {
        width: 7em;
        margin-top: 0.8em;
    }

.descHome {
    z-index: 100;
    position: relative;
    margin-top: -3.5em;
}

.iconoHome {
    margin-bottom: -0.4em;
}


footer {
    position: relative;
    margin-top: auto;
    margin-bottom: 0 !important;
    height: 10px;
    clear: both;
    text-align: center;
    color: #000000;
}

/*Media Queries*/
@media screen and (max-width: 400px) {
    section.galeria div {
        margin: 0;
    }

    section.galeria {
        padding: 0;
    }
}

/*LINEA VERTICAL*/
.row.vertical-divider {
    overflow: hidden;
}

    .row.vertical-divider > div[class^="col-"] {
        text-align: center;
        padding-bottom: 100px;
        margin-bottom: -100px;
        border-left: 1px solid #dcdbdb;
        border-right: 1px solid #dcdbdb;
    }

    .row.vertical-divider div[class^="col-"]:first-child {
        border-left: none;
    }

    .row.vertical-divider div[class^="col-"]:last-child {
        border-right: none;
    }


/* FORM INPUT */
.textarea-lg {
    height: 100% !important;
}



.btn-black {
    background-color: #333333;
    border-color: #000000;
    color: #ffffff;
}

    .btn-black:hover {
        background-color: #000000;
        border-color: #000000;
        color: #ffffff;
    }





    .btn-check {
  color: #555555;
  background-color: #eeeeee;
  border-color: #e2e2e2;
}
.btn-check:focus,
.btn-check.focus {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #a2a2a2;
}
.btn-check:hover {
  color: #555555;
  background-color: #d5d5d5;
  border-color: #c3c3c3;
}
.btn-check:active,
.btn-check.active,
.open > .dropdown-toggle.btn-check {
  color: #555555;
  background-color: #bca57c;
  border-color: #a8926b;
}
.btn-check:active:hover,
.btn-check.active:hover,
.open > .dropdown-toggle.btn-check:hover,
.btn-check:active:focus,
.btn-check.active:focus,
.open > .dropdown-toggle.btn-check:focus,
.btn-check:active.focus,
.btn-check.active.focus,
.open > .dropdown-toggle.btn-check.focus {
  color: #000000;
  background-color: #a8926b;
  border-color: #907e5e;
}
.btn-check:active,
.btn-check.active,
.open > .dropdown-toggle.btn-check {
  background-image: none;
}
.btn-check.disabled,
.btn-check[disabled],
fieldset[disabled] .btn-check,
.btn-check.disabled:hover,
.btn-check[disabled]:hover,
fieldset[disabled] .btn-check:hover,
.btn-check.disabled:focus,
.btn-check[disabled]:focus,
fieldset[disabled] .btn-check:focus,
.btn-check.disabled.focus,
.btn-check[disabled].focus,
fieldset[disabled] .btn-check.focus,
.btn-check.disabled:active,
.btn-check[disabled]:active,
fieldset[disabled] .btn-check:active,
.btn-check.disabled.active,
.btn-check[disabled].active,
fieldset[disabled] .btn-check.active {
  background-color: #eeeeee;
  border-color: #e2e2e2;
}
.btn-check .badge {
  color: #eeeeee;
  background-color: #555555;
}

.btn-check:hover,
.btn-check:focus,
.btn-group.open .dropdown-toggle.btn-check {
  background-color: #eeeeee;
  border-color: #e2e2e2;
}












/* PANEL*/

.panel-inverse {
    border-color: #333333;
}

    .panel-inverse > .panel-heading {
        color: #ffffff;
        background-color: #bca57c;
        border-color: #bca57c;
    }

        .panel-inverse > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #333333;
        }

        .panel-inverse > .panel-heading .badge {
            color: #333333;
            background-color: #ffffff;
        }

    .panel-inverse > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #333333;
    }


/*
        -------------------------------------------------------------------
    */

.media.LTPadre {
    padding: 0.5em;
    background-color: white !important;
}

.media.LTHijo {
    border: 1px dashed rgb(245, 245, 245);
    /*padding-right: 1em;*/
    background-color: #f5f5f5 !important;
    margin-top: 0.2em;
}

    .media.LTHijo:hover {
        border: 1px dashed rgb(178, 178, 178);
    }



#contenedor_ListaTemporal {
    background-color: #e6e5e5 !important;
    /*border: 2px dashed rgb(178, 178, 178);*/
    padding: 10px;
    border-radius: 10px;
}


#render_listaTemporal {
    /*overflow-x: auto;
    max-height: 26em !important;*/
}




.media.LRPadre {
    background-color: white !important;
}

.media.LRHijo {
    border: 1px dashed rgb(245, 245, 245);
    background-color: #f5f5f5 !important;
    margin-top: 0.2em;
}


    .media.LRHijo:hover {
        border: 1px dashed rgb(178, 178, 178);
    }


#contVertical {
}


.media-right.LRHijo {
    color: #aeaeae;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}


    .media-right.LRHijo:hover {
        color: white;
        background-color: #bca57c;
    }



.media-right.LTHijo {
    color: #aeaeae;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}


    .media-right.LTHijo:hover {
        color: white;
        background-color: #bca57c;
    }

#MOLT {
    position: absolute;
    right: 0.7em;
    bottom: -0.4em;
    cursor: pointer;
}

#TotalLT {
    position: absolute;
    right: 2em;
    top: 2.1em;
}

.pagination {
    margin: auto !important;
}

#barraOpciones {
    max-width: 20em;
    text-align: center;
    margin: 0.4em auto;
}

    #barraOpciones:hover {
        background-color: rgb(245, 245, 245);
        color: red !important;
        border-radius: 10px;
    }


tr.inverse {
    background-color: black !important;
    color: white !important;
    font-weight: 700;
    text-transform: uppercase;
}
