@model IEnumerable<RecordFCS_Alt.Models.Atributo>


<h3 class="text-center">Registrar: <b>@ViewBag.Nombre</b></h3>


<ul class="media-list">
    @foreach (var item in Model)
    {
        <li class="media">
            <div class="media-body">
                <label class="media-heading" for="@item.AtributoID">@item.NombreAlterno</label>

                @{Html.RenderAction("GenerarCampoRegistro", "Atributo", new { id = item.TipoAtributoID, AtributoID = item.AtributoID });}

            </div>
        </li>

    }
</ul>

<div id="renderEspera"></div>

<div class="text-center">

    <button type="submit" id="btnSubmit" data-loading-text="Procesando..." class="btn btn-primary" autocomplete="off">
        Registrar
    </button>


</div>




<script type="text/javascript">
    $(document).ready(function () {
        var btn = $('#btnSubmit').button();

        btn.click(function () {

            btn.button('loading');

            setTimeout(function () {
                btn.button('reset');
            }, 10000)

        });
    });
</script>



<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>