
<!-- Input BUSCAR -->
<div class="form-group">
    <label class="control-label col-md-2" for="BuscarDato">Buscar</label>
    <div class="col-md-10">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            <input class="form-control" id="BuscarDato" name="BuscarDato" type="text" value="" placeholder="Buscar registro..." autofocus>
        </div>
    </div>
</div>