@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Word Document</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>
        /* Styles go here */

        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>