
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Lo sentimos mucho,</h1>
        <h2>A ocurrido un error mientras se procesaba su solicitud.</h2>
    </hgroup>
</body>
</html>
